body {
  border: 2px solid black;
  margin: 15px;
  font-family: Helvetica;
  font-size: 1.2em;
  /*background: url(https://www.pedbikeimages.org/largeimages/IMG_0080.jpg);*/
}

h1 {
  text-align: center;
}
nav, section {
  border: 2px solid blue;
  margin: 5px;
  padding: 7px;
}
nav ul {
  margin: 10;
  padding: 0;
}

nav ul li{
  display: inline;
  margin: 5px;
}

p{
  text-indent: 30px;
}

.about_bicycles {
  position: relative;
  top: 80px;
  z-index: -10;
}
.fixed-nav{
  background-color: lightblue;
  position: fixed;
  top: -5px;
  z-index: 100;
}
.bike-types {
  width: 45%;
  background-color: grey;
}

.frame-materials {
  width: 45%;
  background-color: grey;
}

.tires{
  width:45%;
  background-color: grey;
}

.safety {
  width: 45%;
  margin-left: 50%;
  background-color: orange;
  position: relative;
  top: -845px;


}
.footer{
  position: fixed;
  bottom: 10px;
  right: 50px;
}