body {
  background: #FFD59D;
  font-family: "Helvetica";
}

a:link {
  color: #0646B2;
}

a:visited{
  color: #416EF7;
}

header {
  border: 2px solid fuchsia;
}

nav, section, aside, footer {
  border: 2px solid black;
  margin: 5px;
}

p {
  text-indent: 20px;
}

header {
  width: 30%;
  height: 50px;
  margin-left: 30%;
  text-align: center;
  padding-bottom: 30px;
}

nav {
  width: 75%;
  height: 50px;
  margin-left: 15%;
  text-align: center;
  padding-top: 20px;
}

section {
  border-color: blue;
  height: 100%;
  padding: 10px;
}

.bicycles1 {
  width: 45%;footer
}

.bicycle-types2 {
  width: 45%;
}

.frame-materials3 {
  width: 45%;
}

.safety-aside1 {
  border-color: green;
  width: 45%;
  padding: 10px;
  position: relative;
  margin-left: 50%;
  top: -580px;
}

footer {
  width: 80%;
  height: 50px;
  margin-left: 10%;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  top: -550px;
}
